* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v913_17675 {
  width: 375px;
  height: 812px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v913_17679 {
  width: 134px;
  color: rgba(64,64,64,1);
  position: absolute;
  top: 64px;
  left: 121px;
  font-family: Noto Sans KR;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v913_17680 {
  width: 24px;
  height: 24px;
  background: url("../images/v913_17680.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 65px;
  left: 16px;
  overflow: hidden;
}
.v913_17681 {
  width: 20px;
  height: 10px;
  background: url("../images/v913_17681.png");
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 6px;
  border: 2.5px solid rgba(64,64,64,1);
  transform: rotate(-90deg);
}
.v913_17707 {
  width: 375px;
  height: 477px;
  background: url("../images/v913_17707.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 110px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
