@media only screen and (max-width: 1200px) {
  .v1140_18602, .v1140_18618, .v1140_18850 {
    width: 95%;
    left: 2.5%;
  }
  .v1140_18604, .v1140_18606, .v1140_18825, .v1140_18826 {
    width: 30%;
    left: 10%;
  }
}

@media only screen and (max-width: 768px) {
  .v1140_18602, .v1140_18618, .v1140_18850 {
    width: 98%;
    left: 1%;
  }
  .v1140_18604, .v1140_18606, .v1140_18825, .v1140_18826 {
    width: 40%;
    left: 5%;
  }
  .v1140_18603, .v1140_18851, .v1140_18852, .v1140_18853 {
    font-size: 12px;
  }
}

@media only screen and (max-width: 480px) {
  .v1140_18602, .v1140_18618, .v1140_18850 {
    width: 100%;
    left: 0;
  }
  .v1140_18604, .v1140_18606, .v1140_18825, .v1140_18826 {
    width: 45%;
    left: 2.5%;
  }
  .v1140_18603, .v1140_18851, .v1140_18852, .v1140_18853 {
    font-size: 10px;
  }
}